<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <div class="screen">
    <div class="scan">
      <img id="logo" src="assets/icon/icon.png" alt="">
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" id="footer">
  <ion-item *ngIf="link">
    <ion-label>
      <a [href]="leitura" target="_blank">{{leitura}}</a>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="leitura">
    <ion-label position="stacked"></ion-label>
    <ion-input [(ngModel)]="leitura"></ion-input>
  </ion-item>
  <ion-toolbar color="dark">
    <ion-button expand="block" (click)="lerQRcode()">Escanear</ion-button>
  </ion-toolbar>
</ion-footer>
